<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Item</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
          integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<!-- Form to update item -->
<div class="container my-5">
    <h3 class="mb-4 text-center">Update Item</h3>
    <div class="card">
        <div class="card-body">
            <form action="#" th:action="@{/budget/update}" th:object="${item}" method="post" class="needs-validation"
                  novalidate>
                <input type="hidden" th:field="*{id}"/>
                <div class="form-group">
                    <label for="itemName">Item Name:</label>
                    <input type="text" class="form-control" id="itemName" th:field="*{itemName}" required
                           value="${budget.itemName}">
                    <div class="invalid-feedback">
                        Please provide a valid item name.
                    </div>
                </div>

                <div class="form-group">
                    <label for="description">Description:</label>
                    <input type="text" class="form-control" id="description" th:field="*{description}" required
                           value="${budget.description}">
                    <div class="invalid-feedback">
                        Please provide a description.
                    </div>
                </div>

                <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="number" class="form-control" id="price" min="0" step="0.01" th:field="*{price}"
                           required value="${budget.price}">
                    <div class="invalid-feedback">
                        Please provide a valid price.
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
                <a href="/budget/all" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>

</body>
</html>