.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.centered-content {
    text-align: center;
    margin: auto;
    width: 60%;
    border: 3px solid green;
    padding: 10px;
}
.weather-info {
    display: block;
}
